<div class="container-fluid main">

<a
routerLink="/agreement"
type="submit"
name="action">
<i class="material-icons" id="hamburger-icon">dehaze</i>
</a>

<i class="material-icons" id="notifications-icon">notifications</i>

<div class="container-fluid content">

	<div class="child-container">

		<div class="row center">

			<p id="show-buffert-text">Actual buffert</p>
			<h3 id="show-buffert-heading">15.000 kr (SEK)</h3>

		</div>

	</div>

</div>

	<a 
	class="transfer-icon right"
	routerLink="/choose-account"
	type="submit"
	name="action">>
	</a>

</div>
