<div class="container-fluid main">

<a
class="clear-btn"
routerLink="/show-buffert"
type="submit"
name="action">
<i class="material-icons">clear</i>
</a>

<div class="container-fluid content">

	<div class="child-container">

		<div class="row center">

			<div class="row">

				<div class="col s12">

					<div class="card-panel #FFFFFF">
					<h6 class="agreement-heading" id="cha-heading">To my account</h6>

					<hr>

					<img class="left" src="./assets/icons/nordea-logo.jpg" id="nordea-logo">

					<h6 class="agreement-heading">Nordea</h6>
					<p class="agreement-text">8327-9, 964 184 041-9</p>

					<hr>

					<img class="left" src="./assets/icons/nordea-logo.jpg" id="nordea-logo">

					<h6 class="agreement-heading">Nordea</h6>
					<p class="agreement-text">8723-9, 456 123 046-9</p>

						<div class="row center icon-row">
							<a 
							routerLink="/choose-amount"
							class="btn waves-effect waves-light"
							type="submit"
							name="action">
							Choose account
							<i class="material-icons right">send</i>
							</a>
						</div>

					</div>

				</div>

			</div>

		</div>

	</div>
</div>
</div>
