<div class="container-fluid main">

	<a
	class="clear-btn"
	routerLink="/"
	type="submit"
	name="action">
	<i class="material-icons">clear</i>
	</a>

<div class="container-fluid content">

	<div class="child-container">

		<div class="row center">

			<div class="input-field">
				<input placeholder="Choose amount (SEK)" id="first_name" type="text" class="validate">
			</div>

			<a 
			routerLink="/agreement"
			class="btn waves-effect waves-light"
			type="submit"
			name="action">
			Agreement
			<i class="material-icons right">send</i>
			</a>

		</div>

	</div>
</div>
</div>
