input[type=text] {
border-bottom: 1px solid #FFFFFF;
}

.input-field label {
color: #000;
}

.input-field input[type=text]:focus + label {
color: #FFFFFF;
}

.input-field input[type=text]:focus {
border-bottom: 1px solid #FFFFFF;
box-shadow: 0 1px 0 0 #FFFFFF;
}

.input-field {
color: #FFFFFF;
}  

::placeholder {
color: #FFFFFF;
}